<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.websocket.file.Mapper">

	<select id="fileSelectList" resultType="fileDto">
		SELECT FILENO, FILESTREAM, FILETITLE
		FROM FILES
	</select>
	
	<select id="fileSelectOne" parameterType="Int" resultType="fileDto">
		SELECT FILESTREAM, FILETITLE
		FROM FILES
		WHERE FILENO = #{fileno}
	</select>
	
	<select id="fileSelectFileno" parameterType="String" resultType="Int">
		SELECT FILENO
		FROM FILES
		WHERE FILESTREAM = #{FILESTREAM}
	</select>	
	
	<insert id="fileInsert" parameterType="fileDto">
		INSERT INTO FILES
 		VALUES(FILESEQ.NEXTVAL,#{filestream},#{filetitle})
	</insert>
	
	
	
	 
</mapper>
